In [17]:
import pandas as pd
df = pd.read_csv("ICU_Challenge_Dataset.csv")

df

,recordid,SAPS-I,SOFA,In-hospital_death,Age,Gender,Height,Weight,CCU,CSRU,...,Platelets_last,TroponinI_last,TroponinT_last,WBC_last,Weight_last,pH_last,MechVentStartTime,MechVentDuration,MechVentLast8Hour,UrineOutputSum
0,132539,6,1,0,54.0,0.0,NaN,NaN,0,0,...,185.0,NaN,NaN,9.4,NaN,NaN,NaN,NaN,NaN,NaN
1,132540,16,8,0,76.0,1.0,175.3,76.0,0,1,...,135.0,NaN,NaN,13.3,81.6,7.37,71.0,360.0,0.0,5.0
2,132541,21,11,0,44.0,0.0,NaN,56.7,0,0,...,113.0,NaN,NaN,6.2,56.7,7.47,617.0,2160.0,1.0,14.0
3,132543,7,1,0,68.0,1.0,180.3,84.6,0,0,...,284.0,NaN,NaN,7.9,84.6,NaN,NaN,NaN,NaN,NaN
4,132545,17,2,0,88.0,0.0,NaN,NaN,0,0,...,97.0,NaN,NaN,4.8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,151939,19,6,1,52.0,1.0,NaN,80.0,0,0,...,221.0,NaN,NaN,11.5,NaN,7.46,238.0,2440.0,1.0,17.0
5996,151383,13,2,0,90.0,0.0,157.5,72.0,1,0,...,305.0,NaN,NaN,12.1,68.5,NaN,NaN,NaN,NaN,NaN
5997,149623,12,9,0,72.0,0.0,NaN,185.0,1,0,...,167.0,NaN,0.02,12.7,NaN,7.39,188.0,1200.0,0.0,10.0
5998,145366,18,11,1,52.0,1.0,182.9,95.9,0,0,...,28.0,NaN,NaN,5.8,96.2,7.36,100.0,2760.0,1.0,27.0
5999,146804,19,9,0,55.0,1.0,177.8,81.7,0,1,...,157.0,NaN,NaN,13.3,98.6,7.41,332.0,960.0,0.0,7.0

In [18]:
df.isnull().sum() # I check the missing values

recordid                0
SAPS-I                  0
SOFA                    0
In-hospital_death       0
Age                     0
                     ...
pH_last              1478
MechVentStartTime    2256
MechVentDuration     2256
MechVentLast8Hour    2256
UrineOutputSum       2256
Length: 121, dtype: int64